<div class="burger__utility">
    <span class="burger__size">
        <div class="burger__burgerbox">
            <div class="header__burger"></div>
            <div class="header__burger"></div>
            <div class="header__burger"></div>
        </div>
    </span>
</div>
<div class="burger burger__closed">
    <ul class="burger__ul">
        <li><a href="/" class="burger__link">Home</a></li>
        <li><a href="/blogpost" class="burger__link">blog post</a></li>
        <li><a href="/blogarchive" class="burger__link">blog archive</a></li>
        <li><a href="/book" class="burger__link">book</a></li>
        <li><a href="/contact" class="burger__link">contact</a></li>
        <div class="burger__shutdown">X</div>
    </ul>
</div>

<script src="/assets/javascript/header.js"></script>

