    </figure>
    <div class="card__textbox">
        <p class="base__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sint quia.</p>
        <p class="base__p_pink">may 17, 2020</p>
    </div>
</section>