<p class="base__p">Stay connectet with us Night Club</p>
<section class="footer__some">
    <div class="footer__somebox"><i class="fab fa-facebook-f"></i></div>
    <div class="footer__somebox"><i class="fab fa-twitter"></i></div>
    <div class="footer__somebox"><i class="fab fa-google-plus-g"></i></div>
    <div class="footer__somebox"><i class="fab fa-skype"></i></div>
    <div class="footer__somebox"><i class="fab fa-blogger-b"></i></div>
</section>
<p class="base__p">Copyright @2018 NightClub psd template all right</p>

<script src="/assets/javascript/footer.js"></script>