    <%- include('../partials/pinkbox') %>

        <section class="header__container">
            <img class="header__img" src="/assets/images/Logo.png" alt="" srcset="">
            <%- include('../partials/burger') %>
        </section>

    <%- include('../partials/pinkbox-end') %>
</header>