<div class="carousel">
    <div class="slider">
        <div class="slider__inner">
          <div class="slider__item">
            <div class="slider__item-container">
               <img id="imgOne" src="" class="slider__item-img"/>
               <div class="slider__item-datas">
                 <span id="spanOne" class="slider__span">Description</span>
               </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slider__item-container">
              <img id="imgTwo" src="" class="slider__item-img"/>
              <div class="slider__item-datas">
                <span id="spanTwo" class="slider__span">Description</span>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slider__item-container">
              <img id="imgThree" src="" class="slider__item-img"/>
              <div class="slider__item-datas">
                <span id="spanThree" class="slider__span">Description</span>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slider__item-container">
              <img id="imgFour" src="" class="slider__item-img"/>
              <div class="slider__item-datas">
                <span id="spanFour" class="slider__span">Description</span>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slider__item-container">
               <img id="imgFive" src="" class="slider__item-img"/>
               <div class="slider__item-datas">
                 <span id="spanFive" class="slider__span">Description</span>
               </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slider__item-container">
               <img id="imgSix" src="" class="slider__item-img"/>
               <div class="slider__item-datas">
                 <span id="spanSix" class="slider__span">Description</span>
               </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slider__item-container">
               <img id="imgseven" src="" class="slider__item-img"/>
               <div class="slider__item-datas">
                 <span id="spanSix" class="slider__span">Description</span>
               </div>
            </div>
          </div>
          <div class="slider__controls"></div>
      </div>
    </div>
</div>
