<article class="testa__container">
    <section class="testa">    
        <div class="testa__bc"></div>
        <div class="testa__profileimg-box">
            <img id="testa__profilimgOne" class="testa__profilimg" src="" alt="" srcset="">
        </div>
    </section>
    <section class="testa__textbox">
        <div class="testa__textbox-bc"></div>
        <div class="testa__wrapper">
            <p class="testa__text" id="testa__textOne"></p>
            <div class="footer__some testa__some-box">
                <a href="#" class="footer__somebox testa__some"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="footer__somebox testa__some"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </section>
</article>

<script src="/assets/javascript/testa.js"></script>