.base{
    &__bc{
        background-color: $base-color;
    }
    
    &__h1{
        font-weight: $bold;
        letter-spacing: 0.075em;
        line-height: 1.1;
        &_pink{
            color: $style-color;
        }
    }



    &__h2{
        font-size: 2em;
        line-height: 1.1; 
        font-weight: $regular; 
        text-transform: uppercase; 
        color: $white-color; 
        &_pink{
            color: $style-color;
        }
    }

    &__tuc{
        text-transform: uppercase; 
    }

    &__p{
        color: $fonts-color; 
        font-size: 15px; 
        line-height: 25px; 
        &_pink{
            color: $style-color;
        }
    }

    &__goodtime{
        line-height: 1.1; 
        font-weight: $light; 
        text-transform: uppercase; 
        color: $white-color; 
        font-size: 1.2em; 
        letter-spacing: 0.6em; 
    }
}