.burger{

    display: inherit;
    position: fixed;
    right: 0;
    width: 80vw;
    list-style: none;
    line-height: 3em;
    font-size: 1.2em;
    z-index: 100;
    transition: 500ms;
    
    &__utility{
        color: $fonts-color;
    }

    &__size{
        display: inherit;
        align-self: center;
        font-size: 1rem;
        padding: 1%;
    }

    &__open{
        top: 0;
        margin: 0;
    }

    &__closed{
        top: -130%;
    }

    &__ul{
        text-align: center;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding:3rem 0;
        background-color: rgba(3,2,3, 0.7);
        list-style: none;
        line-height: 3rem;
        font-size: 1.2rem;
    }

    &__link{
        text-decoration: none;
        color: $fonts-color;
        font-size: 1.2rem;
        transition: 500ms;
    }

    &__shutdown{
        position: absolute;
        right: 5%;
        top: 1rem;
        padding: 0 0.5rem;
        font-size: 2.2rem;
        color: $fonts-color;
    }
}