@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
*{
    font-family: 'Ubuntu' , sans-serif;
    margin: 0;
    padding: 0;
}
@import 'variabel';
@import 'base';
@import 'burger';
@import 'header';
@import 'pinkbox';
@import 'footer'